.activity-info{
  margin-top: 20px;
  background-image: url("../../../images/main_page/background-3.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  &__text{
    padding: 20px;
    font-size: 1.5rem;
    text-align:center;
  }
}

@media(min-width: 600px){
  .activity-info{
    &__text{
      padding: 30px;
      font-size: 2rem;
    }
  }
}

@media (orientation: landscape){
  .activity-info{
    &__text{
      padding: 30px;
      font-size: 1.7rem;
    }
  }
}

@media(min-width: 600px) and (orientation: landscape){
  .activity-info{
    &__text{
      padding: 40px;
      font-size: 2.5rem;
    }
  }
}