.banner{
  display: flex;
  height: $header-height-mobile;
  // position: relative;
  overflow: hidden;

  &-main-page{
    background-image: url("../../../images/main_page/baner_main.jpg");
  }
  &-cent-psych{
    background-image: url("../../../images/centrum_psychoterapii/background_banner.jpg");
    height: $header-height-mobile+100px;
  }
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // transform: scale(1.6);
  // transform: translate(-);
  align-items: center;

  width: 100%;
  // &__image{
    // transform: translate(0,30%) scale(1.6);
    // width: 100%;
    // height: 100%;
  // }

  &__border{
    position: relative;
    width: 80%;
    margin: 0 auto;
    border: 10px solid;
    border-image-source:  linear-gradient(90deg, rgba(250,188,0,1) 7%, rgba(255,255,255,1) 32%, rgba(252,185,0,1) 51%, rgba(255,255,0,1) 69%, rgba(255,217,0,1) 100%);
    border-image-slice: 1;
  }

  &__logo-image{
    // display: flex;
    // justify-content: center;
      // width: auto;
      position: absolute;
      top: -50%;
      left: 50%;
      transform: translate(-50%,50%);
      width: 21%;
    }
  
    
  
    &__main{
      
      margin: 10px;
      background-color: rgb(77,74,71);
      padding: 10px;
      border: 1px solid white;
      color: rgb(237,186,0);
    }
    &__title{
      font-size: 1.5rem;
      text-align: center;
      font-weight: 400;
    text-transform: uppercase;
    &-cent-psych{
      padding: 10px;
      margin: 10px 20px;
      background-color: rgba(255,255,255,0.5);
      font-size: 1.2rem;
      text-transform: none;
      line-height: 25px;
    }
    }

  
}

// .quotation{
//   padding: 15px;
//   text-align: center;
  
//   &__example{
//     font-weight: normal;
//   }
// }



@media (min-height: 640px){
  .banner{
    &__image{
      transform: translate(0,30%) scale(1.6);
      // top: 21%;
    }
  }
}

@media (min-width: 360px){
  .banner{
      &__logo-image{
      transform: translate(-50%,25%);
          width: 19%;
        }
    }
}

@media (min-width: 410px){
  .banner{
      height: $header-height-mobile+60px;
      &__logo-image{
        transform: translate(-50%,19%);
          width: 18%;
        }
    }
}

@media (min-width: 480px){
  .banner{
      &__logo-image{
        transform: translate(-50%,10%);
          width: 16%;
        }
    }
}

@media (min-width: 533px){
  .banner{
      &__logo-image{
        transform: translate(-50%,0);
        }
    }
}

@media (min-width: 600px){
  .banner{
      height: $header-height-mobile+100px;
      &__logo-image{
        transform: translate(-50%,2%);
          width: 15%;
        }
        &__title{
          font-size: 1.9rem;
        }
    }
}

@media (min-width: 640px){
  .banner{

      &__logo-image{
        transform: translate(-50%,10%);
          width: 13%;
        }
    }
}

@media (min-width: 720px){
  .banner{
      &__logo-image{
        transform: translate(-50%,5%);
          width: 12%;
        }
    }
}

@media (min-width: 768px){
  .banner{
      height: $header-height-mobile+150px;
      &__main{
        margin: 15px;
        padding: 20px;
      }
      &__logo-image{
        transform: translate(-50%,25%);
          width: 13%;
        }
    }
}

@media (min-width: 768px){
  .banner{
      &__logo-image{
        transform: translate(-50%,15%);
        }
    }
}

@media (min-width: 900px){
  .banner{
    height: $header-height-mobile+250px;
    &__logo-image{
      width: 13%;
      }
      &__title{
        font-size: 2.3rem;
  }
}
}

@media (min-width: 1000px){
  .banner{
    &__logo-image{
      // transform: translate(-50%,10%);
        width: 12%;
      }
      &__title{
        font-size: 2.3rem;
      }
  }
  
}

@media (min-width: 1100px){
  .banner{
    &__logo-image{
      // transform: translate(-50%,10%);
        width: 10%;
      }
      &__title{
        font-size: 2.3rem;
      }
  }
  
}





@media (orientation: landscape) and (max-width:1200px){
  .banner{
    height: 100vh;
  }
}


// @media (min-width: 480px) and (orientation:landscape){
//   .banner{
//       height: $header-height-mobile+70px;
//     }
// }

// @media (min-width: 640px) and (orientation:landscape){
//   .banner{
//       height: $header-height-mobile+100px;
// }
// }

// @media (min-width: 730px) and (orientation:landscape){
//   .banner{
//       height: $header-height-mobile+130px;
// }
// }

// @media (min-width: 900px) and (orientation:landscape){
//   .banner{
//       height: $header-height-mobile+220px;
// }
// }

// @media (min-width: 1024px){
//   .banner{
//       height: $header-height-mobile+260px;
// }
// }



@media(min-width: 1200px){
  .banner{
    height: 50vh;
    

    &__logo-image{
      // transform: translate(-50%,10%);
        width: 90px;
      }
  }
}







  // background-image: url("../../../images/baner.JPG");
  // background-size: contain;
  // background-position: center;
  // background-repeat: no-repeat;
  // transform: scale(1.6);
  // transform: translate(-);
  // align-items: center;
  // position: relative;
  // &__logo{
  //   position: absolute;
  //   top: 5px;
  //   left: 50%;
  //   transform: translate(-50%,0);
    
  // }
  // &__logo-image{
  //   width: 60%;
    
  // }

  // &__border{
  //   width: 80%;
  //   margin: 0 auto;
  //   border: 10px solid;
  //   border-image-source:  linear-gradient(90deg, rgba(255,229,81,1) 6%, rgba(255,255,255,1) 28%, rgba(255,255,0,1) 65%, rgba(255,217,0,1) 100%);
  //   border-image-slice: 1;
  // }

  // &__main{
  //   margin: 10px;
  //   background-color: rgb(43, 31, 79);
  //   padding: 10px;
  //   border: 1px solid white;
  //   color: rgb(237,186,0);
  // }
  // &__title{
  //   font-size: 1.5rem;
  //   text-align: center;
  // text-transform: uppercase;
  // }