.quotation{
  flex-basis: 100%;
  padding: 30px;
  &__example{
    line-height: 35px;
    font-size: 1.6rem;
    text-align: center;
    font-weight: 400;
    padding-bottom: 20px;
    // width: 70%;
    // margin: 0 auto;
  }
}

@media (min-width: 411px) {
  .quotation {
    &__example {
      font-size: 2rem;
    }
  }
}

@media (min-width: 600px){
  .quotation{
    &__example{
      font-size: 2.3rem;
      line-height: 45px;
    }
  }
}

@media (min-width: 700px){
  .quotation{
    &__example{
      font-size: 2.4rem;
      line-height: 55px;
    }
  }
}

@media (min-width: 800px){
  .quotation{
    &__example{
      font-size: 2.7rem;
    }
  }
}

@media (min-width: 900px){
  .quotation{
    &__example{
      font-size: 2.8rem;
    }
  }
}

@media (min-width: 1000px){
  .quotation{
    padding: 40px;
    &__example{
      font-size: 3rem;
      line-height: 60px;
    // width: 70%;
    margin: 0 auto;
    }
  }
  .quotation-child{
    &__example{
      width: 80%;
      font-size: 2.6rem;
    }
  }
}



