.trends{
  display: flex;
  flex-wrap: wrap;
  // align-items: center;
  // justify-content: center;
  flex-basis: 100%;
  max-width: 1920px;
  margin: 0 auto;
  // min-height: 100vh;
  &__trend{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // position: relative;
    // border: 2px solid rgb(237,186,0);
    // margin: 20px auto;
    text-decoration: none;
    // display: block;
    height: 50vh;
    
    // min-width: 500px;
    flex-basis: 100%;
    // background-color: rgb(204, 204, 204);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &:nth-of-type(1){
      background-image: url(../../../images/main_page/family.jpg);
    }
    &:nth-of-type(2){
      background-image: url(../../../images/main_page/people-discussion.jpg);
    }
    &:nth-of-type(3){
      background-image: url(../../../images/main_page/woman.jpg);
      background-position: right;
    }
    &:nth-of-type(4){
      background-image: url(../../../images/main_page/couple.jpg);
    }

    // &-image{
    //   position: absolute;
    //   height: 100%;
    //   top:0;
    //   left:0;
    //   width: 50%;
    //   &--right{
    //     left:50%;
    //   }
    // }
    // &-logo{
    //   z-index: 1;
    //   position: absolute;
    //   bottom:10%;
    //   right: 25%;
    //   width: 12%;
    //   transform: translate(50%,0);
    // }
    &-title{
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      height: 8vh;
      // z-index: 1;
      text-shadow: 0 0 4px black;
      background-color: rgba(0,0,0,.5);
      // position: absolute;
      // top: 15%;
      // right: 0;
      flex-basis: 100%;
      font-weight: 400;
      // width: 50%;
      // line-height: 50vh;
      text-align: center;
      padding: 5px;
      font-size: 2.2rem;
    }
    // &-logo--right{
    //   bottom:15%;
    //   left: 25%;
    //   transform: translate(-50%, 0);
    // }
    // &-title--right{
    //   right: 50%;
    // }
    // &-title--top{
    //   top: 8%;
    // }
  }
}



@media(min-width:600px){
  .trends{
    &__trend{
      &-title{
        font-size: 2.5rem;
      }
    }
  }
}


@media(orientation: landscape){
  .trends{
    // &-title{
    //   line-height: 60vh;
    // }
    &__trend{
      min-height: 450px;
      &-title{
        height: 20vh;
      }
      // height: 60vh;
    }
  }
}

@media(orientation: landscape){
  .trends{
    &__trend{
      min-height: 550px;
      &-title{
        height: 20vh;
      }
    }
  }
}

@media(min-width:960px) and (orientation: landscape) {
  .trends {
    &__trend {
      min-height: 650px;
    }
  }
}


@media(min-width:768px){
  .trends{
    &__trend{
      &-title{
        font-size: 3rem;
        padding: 15px 0;
      }
    }
  }
}

@media(min-width:1025px){
  .trends{
    &__trend{
      display: flex;
      flex-basis: 50%;
      // height: 3vh;
      // background-size: 100%;
      transition: 1s;
      // justify-content: center;
      // align-items: center;
      &:hover{
        // background-size: 150%;
      }
      
      &-title{
        
        // line-height: 30vh;
        height: 100%;
        padding: 0;
        opacity: 0;
        transition: 1s;
        
      }
      &:hover &-title{
        opacity: 1;
    }
    }
  }
}


@media(min-width:1260px){
  .trends{
    &__trend{
      height: 37vh;
  }
}
}

@media(min-width:1555px){
  .trends{
    &__trend{
      height: 45vh;
  }
}
}


@media(min-width: 1600px){
  .trends{
    &__trend{
      // height: 70vh;
      &__title{
        font-size: 4rem;
      }
    }
  }
}

// @media(min-width: 360px){
//   .trends{
//     &__trend{
//      height: 140px;
//      &-title{
//       // font-size: 2.3rem;
//     }
//     &-logo{
//       width: 15%;
//     }
//     }

// }
// }

// @media(min-width: 600px){
//   .trends{
//     &__trend{
//      height: 200px;
//      &-title{
//       font-size: 2.3rem;
//     }
//     &-logo{
//       width: 15%;
//     }
//     }

// }
// }

// @media(min-width: 768px){
//   .trends{
//     &__trend{
//       height: 250px;
//     &-title{
//       font-size: 2.5rem;
//       padding: 0 20px;
//     }
//   }
//     }

// }

// @media(min-width: 1000px){
//   .trends{
//     &__trend{
//     &-logo{
//       width: 11%;
//     }
//   }
//     }

// }





// @media (min-width:640px) and (orientation: landscape){
//   .trends{
//   &__trend{
//     height: 150px;
//     flex-basis: 80%;
//     margin: 20px auto;
//     &-logo{
//       right: 17%;
//       width: 13%;
//     }
//     &-title{
//       top: 10%;
//       font-size: 2rem;
//     }
//   }
// }
// }

// @media (min-width: 960px) and (orientation:landscape){
//   .trends{
//     &__trend{
//       height: 180px;
//       &-logo{
//         right: 18%;
//       }
//       &-title{
//         font-size: 2.3rem;
//       }
//     }
//   }
// }

// @media (min-width: 1100px) and (orientation:landscape){
//   .trends{
//     &__trend{
//       &-logo{
//         width: 11%;
//       }
//     }
//   }
// }




// /*********** DESKTOP *************/


// @media (min-width: 1200px){
//   .trends{  
//     padding: 0 20px;
//     justify-content: space-around;
//     &__trend{
//       height: $trend-height-desktop;
//       flex-basis: 40%;
//       margin: 20px 0;
//       &-title{
//         font-weight: 400;
//         font-size: 2.3rem;
//       }
//       &-logo{
//         width: 15%;
//         right: 25%;
//         transform: translate(50%,0);
//         &--right{
//           left: 25%;
//           transform: translate(-50%,0);
//         }
//       }
//     }
//   }
// }

// @media(min-width: 1300px){
//   .trends{

//     &__trend{
      
      
//       &-logo{
        
//       }
//     }
//   }
// }

// @media(min-width: 1600px){
//   .trends{
//     padding: 0;
// }
// }