html{
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

@media(max-width:1200px){
  .wrapper{
    justify-content: space-between;
  }
}


// @media(min-width: 1600px){
// .container-trends-activity{
//   max-width: 1600px;
//   margin: 0 auto;
//   padding: 20px;
// }
// }